<div class="dice-wrapper">
  @if (value === 1) {
    <span class="pip"></span>
  }
  @else if (value === 2) {
    <span class="pip"></span>
    <span class="pip"></span>
  }
  @else if (value === 3) {
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  }
  @else if (value === 4) {
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  }
  @else if (value === 5) {
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  }
  @else if (value === 6) {
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
    <span class="pip"></span>
  }
</div>
