.component-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.game-wrapper {
  flex: 0 0 50%;
}

.scores-wrapper {
  flex: 0 0 50%;
}

.dice-tray {

}

@media screen and (max-width: 600px) {
  .component-wrapper {
    flex-direction: column;
  }

}
