.flex {
  display: flex;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.flex-row-rev {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-sb {
  justify-content: space-between;
}

.flex-wrap {
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 16px;
}

.g-1 {
  gap: 4px;
}
.g-2 {
  gap: 8px;
}

.z-1 {
  z-index: 1;
}
