.app-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 1 1 auto;
  padding: 8px;
}

@media screen and (max-width: 100vh) {
  .app-body {
    flex-direction: column-reverse;
  }
}
